@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.page-box {
  max-width: 1560px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 18px #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}
